.compose-form__publish-button-wrapper button,
.ui__header__links .button {
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(
        #E22016,
        #F28917,
        #EFE524,
        #78B82A,
        #2C58A4,
        #6D2380,
        #F4AEC8,
        #7BCCE5,
        #945516
    );
}