/* ==UserStyle==
@name           Tootin' pride (Simple edition)
@namespace      MagicLike
@version        1.0
@description    A small CSS snippet that adapts the "Publish!" button background color to show pride.
@author         MagicLike <contact@magiclike.net> (https://magiclike.net), Dudu <vndmtrx@duck.com>
@homepageURL    https://codeberg.org/MagicLike/Tootin-Pride
@supportURL     https://codeberg.org/MagicLike/Tootin-Pride/issues
@updateURL      https://codeberg.org/MagicLike/Tootin-Pride/raw/branch/main/editions/tootin-pride_simple.user.css
@license        MIT
==/UserStyle== */

@-moz-document domain("mstdn.social"),
domain("masto.ai"),
domain("mastodon.social"),
domain("mastodon.online"),
domain("mastodon.coffee"),
domain("brands.town"),
domain("social.vivaldi.net"),
domain("mastodon.art"),
domain("tech.lgbt"),
domain("mastodon.lol"),
domain("floss.social"),
domain("mas.to"),
domain("fosstodon.org"),
domain("meow.social"),
domain("indieweb.social"),
domain("catcatnya.com"),
domain("mastodon.scot"),
domain("astronomy.social"),
domain("octodon.social"),
domain("hessen.social"),
domain("chaos.social"),
domain("tilde.zone"),
domain("troet.cafe"),
domain("norden.social"),
domain("mastodon.world"),
domain("infosec.exchange"),
domain("mastodon.xyz"),
domain("social.tchncs.de"),
domain("ieji.de"),
url-prefix("mstdn"),
url-prefix("masto"),
url-prefix("mastodon") {

    .compose-form__publish-button-wrapper button,
    .ui__header__links .button {
        background-color: rgba(0, 0, 0, 0);
        background-image: linear-gradient(
            #E22016,
            #F28917,
            #EFE524,
            #78B82A,
            #2C58A4,
            #6D2380,
            #F4AEC8,
            #7BCCE5,
            #945516
        );
    }
}